*{
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline;
}

.menu li a{
    
    padding: 10px;
    text-decoration: none;
}

.item1:hover{
    background-color: lightblue;
}

.item2:hover{
    background-color: lightgray;
}

.item3:hover{
    background-color: lightgreen;
}

.item4:hover{
    background-color: lightpink;
}

.item5:hover{
    background-color: lightseagreen;
}

.item6:hover{
    background-color: lightsalmon;
}